<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Slam Book</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery-byGS.js")
    @*you added that last one to see if it works here. it doesn't seem to.*@

    @*MY FONTS:*@
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Give+You+Glory|Kristi|Patrick+Hand|Sedgwick+Ave+Display|Sue+Ellen+Francisco|Swanky+and+Moo+Moo|Waiting+for+the+Sunrise" rel="stylesheet">
    <script src="~/Scripts/jquery-byGS.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>


                </button>
                @Html.ActionLink("The Slam Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Ask A Question", "Create", "Questions")</li>
                    <li>@Html.ActionLink("Answer A Question", "Create", "Answers")</li>
                    <li>@Html.ActionLink("Pen Names", "Index", "Users")</li>
                    <li>@Html.ActionLink("Answers", "Index", "Answers")</li>

                    <li>@Html.ActionLink("Project Ideas", "About", "Home")</li>




                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Slam Book</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
